:host {
  display: block;
  padding: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.btn-sm {
  width: 60px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.charts {
  padding-top: 10px;
}
@media screen and (max-width: 780px) {
  .redundant {
    display: none;
  }
  .options {
    padding-left: 25px;
  }

  .options_header {
    padding-left: 25px;
  }
}
